.header {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid brown;
    margin-right:1px;
    /* margin-bottom: 30px; */
}

.logo{
    width: 100px;
    margin-top:  30px;
    margin-left: 30px;
    margin-bottom:30px;
}

.search{
    padding: 10px;
}
.body{
    margin-top:30px;
    
    
}

.restaurantcards{
    width: 228px;
    height: 320;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(238, 229, 229);
    padding: 4px;
   
}

.RestroContainer{
    display: flex;
    flex-wrap: wrap;
}
.restaurantcards:hover{
    border: 1px solid gray;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.card-img{
    width: 226px;
    height:196px;

}

.nav-items{
    
    padding: 15px 25px;
}
.nav-items> ul {
    font-size : 24px;
    display: flex ;
    list-style: none;
}
.nav-items >ul > li 
{
    padding: 10px;
    margin: 10px;
}